.profile{
    display: flex;
    justify-content: center;
}
.profile-card{
    margin-top: 100px;
    background-color: darkorange;
    padding: 30px;
    border-radius: 19px;
    min-width: 300px;
}
.user-data{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: red;
}

.buttons button:hover{
    transition: 0.5s;
    background-color: greenyellow;
}


.user-logo{
    display: flex;
    justify-content: center;
}

.user-logo img{
    max-height: 100px;
    border-radius: 50%;
}