<main>
    <div class="reg-container">
        <div class="reg">
            <h2 class="reg-text">REGISTER</h2>
            <form #form="ngForm" (ngSubmit)="formSubmit(form)">
                <div class="form-box">
                    <i class="fa-solid fa-user"></i><input type="text" placeholder="Username" required ngModel name="username">
                </div>
                <div class="form-box">
                    <i class="fa-solid fa-lock"></i><input type="password" placeholder="Password" required ngModel name="password">
                </div>
                <div class="form-box">
                    <i class="fa-solid fa-envelope"></i><input type="email" placeholder="Email" required ngModel name="email">
                </div>
                <div class="form-box">
                    <button type="submit" class="submit" [disabled]="!form.valid">Submit</button>
                </div>
                <div class="reg-account">
                    <span>გაქვთ უკვე ანგარიში? <a routerLink="/login">ავტორიზაცია</a></span>
                </div>
            </form>
        </div>
    </div>
</main>